{% extends 'items/base.html' %}

{% block content %}
	<div class="container mt-5">
    <div class="col-4">
        <div class="card mb-4 rounded-3 shadow-sm">

            <!--Content-->

            <div class="card-header">
                <strong>{{ item.name }}</strong>
            </div>

            <div class="card-body">
                <p class="lead">
                    {{ item.price }}
                </p>

                <strong><p style="font-size: 20px;">Описание</p></strong>

                <p>{{ item.description }}</p>
                <button id="buy-button" class="w-25 btn btn-lg btn-primary">
                Buy
            </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}